<% action_url = (action == :new) ? user_subscriptions_url : edit_user_subscription_url(@user_subscription) %>
This form is for users to log their subscription, either via an existing entry in the database or submit a brand new one.<br/><br/>

<h2># How it works:</h2>

<h3>Step 1:</h3>
a.<br/>
- User selects an existing subscription from our database (listed below but can be implemented as autocomplete)<br/>
- UserSubscription Controller finds the subscription by id and uses that as the subscription to make the join table
<br/><br/>
or
<br/><br/>
b.<br/> 
- User enters the information needed to submit a subscription (site, amount, duration, site_link)<br/>
- UserSubscription Controller creates a new subscription from the params and uses that to make the join table

<h3>Step 2:</h3>
User selects whether or not they want to simultaneously set up Reminders for this subscription, the default is "true"

<h3>Step 3:</h3>
User clicks submit button

<h3>Questions:</h3>

- User doesn't actually submit anything that is of direct relation to user_subscriptions, does it make sense for this to be a user_subscriptions form?<br/>
- By adding the Reminders model input in here, <br/><br/>

<h3>FORM</h3>


<form action="<%= action_url %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
	<% if action == :edit %>
		<input type="hidden" name="_method" value="patch">
	<% else %>
    
        Select from below:<br/>

        <select name="subscription[id]">
            <option selected="selected" disabled="disabled">Choose option</option>
            <% @subscriptions.each do |subscription| %>
                <option value="<%= subscription.id %>"><%= subscription.site %></option>
            <% end %>
        </select>
        <br><br><br>
        Or enter one:<br/>
    <% end %>
    <label for="Site">Site</label>
    <input type="text" name="subscription[site]" value="" id="Site"><br/>

    <label for="Amount">Amount</label>
    <input type="num" name="subscription[amount]" value=""id="Amount"><br/>

    <label for="Duration">Duration</label>
    <input type="num" name="subscription[duration]" value=""id="Duration"><br/>

    <label for="SiteLink">Site Link</label>
    <input type="url" name="subscription[site_link]" value=""id="SiteLink"><br/>

    <input type="checkbox" name="reminder[active]" checked value="true" id="Reminder">
    <label for="Reminder">Set up reminders</label><br/>
    
    <input type="submit" value="Submit">
</form>