<form>
    <label for="subscription_site">Site</label>
    <input type="text" name="subscription[site]" id="subscription_site">
    <label for="subscription_amount">Amount</label>
    <input type="num" name="subscription[amount]" id="subscription_amount">
    <label for="subscription_duration">Duration</label>
    <input type="num" name="subscription[duration]" id="subscription_duration">
    <label for="subscription_site">Site_link</label>
    <input type="url" name="subscription[site_link]" id="subscription_site_link">
    <input type="submit">
</form>