<article class="subscription-content">
<div class="page-header">Subscription > <%= subscription.escape('site') %></div>
$<%= subscription.escape('amount') %><br>
<%= subscription.escape('duration') %> days<br>

<a class="btn btn-default btn-lg" href="<%= subscription.escape('site_link') %>">CANCEL</a>

<h4>Reminders coming up in</h4>
- 5 days     <button class="btn btn-danger btn-sm">CANCEL</button><br>
- 3 days     <button class="btn btn-default btn-sm">CANCEL</button><br>
- 1 days     <button class="btn btn-default btn-sm">CANCEL</button><br>

Add new Reminder:<input><br>




<h4>Some graphs?</h4>
some graphs
<a href="/#">Back to Subscriptions</a>

</article>