<article class="subscription-content">
<div class="page-header">Subscription > <%= subscription.escape('site') %></div>
$<%= subscription.escape('amount') %><br>
<%= subscription.escape('duration') %> days<br>

<a class="btn btn-default btn-lg" href="<%= subscription.escape('site_link') %>">CANCEL</a>

<h4>Reminders</h4>

<a href="/#">Back to Subscriptions</a>

</article>