<div class="navbar-brand">test</div>
<div class="subscriptions-title" id="subscriptions_title">Subscriptions
<li><a href="#" class="subscriptions-tab all" id="subscriptions_all">All</a></li>
<li><a href="#active" class="subscriptions-tab active" id="subscriptions_active">Active</a></li>
<li><a href="#expired" class="subscriptions-tab expired" id="subscriptions_expired">Expired</a></li>
</div>
<div class="subscriptions-title" id="reminders_title">Reminders
<li><a href="" class="subscriptions-tab">Nothing</a></li>
</div>

